html,body{
    margin: 0;
    padding: 0;
}
.footer{
    position: absolute;
    bottom: 0;
    margin: 0;
    padding: 0 20px;
    width: 100%;
    height: 60px;
    background-color: rgb(41,42,43);

}
.footer .cprt,.footer a{
    margin: 0 2em;
    width: 100%;
    color: #fff;
    line-height: 60px;
    text-align: center;
}