html,body,div,h3,ul,li{
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(66,72,91);

}
#tree div{
    color: #fff;
    background-color: rgb(66,72,91);
    cursor: hand;
}
/*#tree h3,li{*/
    /*font-size: 14px;*/
    /*padding: 10px 0;*/
/*}*/
#tree h3{
    font-size: 14px;
    padding: 10px 0;
}
#tree i{
    margin: 0 1em 0 2em;
}
#tree h3:hover{
    background-color: rgb(0,193,222);
}
#tree ul{
    display: none;
    /*background-color: rgb(51,55,68);*/
    background-color: rgb(41,42,43);
}
#tree ul li:hover{
    /*background-color: rgb(74,80,100);*/
    background-color: rgb(100,149,169);
}
#tree li a{
    display: block;
    width: 200px;
    padding: 10px 0;
    color: #ffffff;
    text-decoration:none;
}
