/*.img-ab{

	position: absolute;
}
.img-ab div{
	height: 200px;
	width: 200px;
	float: left;
	border: 1px solid red;
}
.img-ab div img{
	width: 200px;
}

.left-bottom{
	position: absolute;
	left: 0;
	bottom: 0;
}
.center-bottom-r2{
	position: absolute;
	bottom: 10px;

}
.right-bottom-r2{
	right: 0;
	position: absolute;
	bottom: 10px;
}*/
html,body,div,img{
	margin: 0;
	padding: 0;
}
.main{
	font-size: 1.2em;
	color: #016597;
}
.main img{
	float:left;
	width: 3.2em;
	margin-right: 1em;
}


.img-ab{
	margin-bottom: 0;
	margin-left: 0;
}
.left-bottom{
	position: absolute;
	width: 26%;
	left: 0;
	bottom: 0;
}
.center-bottom-r2{
	position: absolute;
	width: 28%;
	left: 33%;
	bottom: 20px;
}
.right-bottom-r2{
	width: 30%;
	position: absolute;
	right:0;
	bottom: 20px;
}
.right-bottom-r1{
	height: 20px;
	width: 74%;
	position: absolute;
	right: 0;
	bottom:0;
	background-color: rgb(204,203,205);
}
